
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">This template was created by Manoj.</p>
    </div>
</div>
{% endblock %}

