
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Edyst_assignment </h1>
        <h6>- Count the words per url using Queuing mechanism</h6>
    
      </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Submit URL</h2>
      <p><a class="btn btn-outline-secondary" href="/word_count/">Click here &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Check Results</h2>
      <p><a href="/word_count/results" class="btn btn-outline-secondary">Click here &raquo;</a></p>
   </div>

  </div><!-- /.row -->
</div>
{% endblock %}

