
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Submit URL to calculate the count</h1>
    <br/>
    <form id="wordCountForm" class="form form-word-count" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.url.label}}
                {{form.url(placeholder="url", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

