
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">URL process for counting text</h1>
    <br/>
           {{ form.csrf_token }}
            <table>
                <th style="width:200px;wordWrap:break-word">URL </th>
                <th>Count</th>
                {% for row in form%}
                <tr>
                    <td style="width:50px;wrap:hard;">{{ row.url }}</td>
                    <td>{{ row.count }}</td>
                </tr>
                {% endfor %}
            </table>
</div>
{% endblock %}

